.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.App {
    /* display: flex;
    flex-flow: column wrap;
    align-items: center; */
    width: 100%;
}

.display {
    margin-top: 25px;
    margin-left: 4.5%;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.logo-container {
    width: 90%;
    margin: 5% 0 0 5%;
}

.btnCont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
}

.specCont {
    display: flex;
    /* justify-content: flex-start; */
    width: 55%;
}

.specBtn {
    display: flex;
    justify-content: space-around;
    margin: 5px 25px 25px 0;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    color: white;
    font-size: 1.6rem;
    background-color: #2061B0;
    box-shadow: 2px 2px #420108;
}

.numCont {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    width: 60%;
}

.numBtn {
    display: flex;
    justify-content: space-around;
    margin: 5px 25px 25px 0;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    color: white;
    font-size: 1.6rem;
    background-color: #113C78;
    box-shadow: 2px 2px #420108;

}

.opCont {
    display: flex;
    /* justify-content: flex-start; */
    flex-flow: column;
    width: 20%;
}

.opBtn {
    display: flex;
    justify-content: space-around;
    margin: 5px 25px 25px 0;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    color: white;
    font-size: 1.6rem;
    background-color: #3DB5E5;
    box-shadow: 2px 2px #420108;
}